*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    min-height: 100vh;
    
}
/* Estilo para el cuadro de registro */
.register-form{
    width: 500px;
    background: white;
    margin-top: 5%;
    height: 750px;
    padding: 45px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-origin: shadow 1;
}