* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  /*comienzo del estilo del blog*/
  #blog h3, h4, h5{
    text-align: center;
    color: #152242
  }
  
  #blog .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
  
  
  #blog article{
    margin: 35px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    font-weight: 700;
    line-height: 1;
    font-size: 1.2rem;
    background: #F7E869;
    border: solid 2px white;
    width: 250px;
    height: 100%;
    max-height: 500px;
  }
  
  #blog article:hover{
    background: #F3A366;
  }
  
  #blog img{
    width: 100%;
    max-width: 250px;
    height: 350px;
    max-height: 100%
  }
  #blog button{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
  }
  /*fin del estilo del blog*/
  
  /*comienzo del estilo del blognin*/
  #blognin h3, h4, h5{
    text-align: center;
  }
  
  #blognin .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
  
  #blognin h4,h5,span{
    margin: 5%;
    text-align: left;
    align-content: center;
    color: #152242;
    display: flexbox;
    
  }
  
  #blognin .precio{
    margin: 5%;
    align-items: center;
    font-size: 1.5em;
  }

  #blognin article{
    margin: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    font-weight: 700;
    line-height: 1;
    font-size: 1.2rem;
    background: rgb(255, 255, 255);
    border: solid 2px white;
    width: 250px;
    height: 100%;
    max-height: 500px;
  }
  
  #blognin article:hover{
    background: rgb(206, 181, 162);
  }
  
  #blognin img{
    width: 100%;
    max-width: 250px;
    height: 350px;
    max-height: 100%
  }
  #blognin button{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  /*fin del estilo del blognin*/

  .contenedor{
    width: 98%;
    max-width: 1000px;
    margin:0 auto;
    
  }
  
  /* Set height of body and the document to 100% */
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  header{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px 20px ;
    height: auto;
  }
  
  #Home {background-color: #152242;}
  #Nintendo {background-color: rgb(241, 19, 19);}
  #Xbox {background-color: rgb(37, 179, 37);}
  #PlayStation {background-color: rgb(50, 84, 177);}
  #PC {background-color: rgb(121, 120, 120);}
  
  
          .vertical-menu {
          width: 250px;
          height: 900px;
        }
        
        .vertical-menu a {
          background-color: rgb(97, 94, 94);
          color: black;
          display: block;
          padding: 12px;
          text-decoration: none;
        }
        
        .vertical-menu a:hover {
          background-color: #ccc;
        }
        
        .vertical-menu a.active {
          background-color: rgb(57, 177, 137);
          color: white;
        }
        /* Make the image fully responsive */
  
  .carousel{
    display: flex;
  }
  
    .carousel-inner img {
      /*display: flex;*/
        width: 800px;
        height: 400px;
    }

    #barraprincipal{
       display: flex;
       flex-direction: column;
    }

    #barraabajo{
      
      display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    font-weight: 700;
    line-height: 1;
    font-size: 1.2rem;
    background: rgb(255, 255, 255);
    }