<!doctype html>
<html lang="es">
  <head>
    <title>YoSio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable-no,initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   {%load static%}
   <link rel="stylesheet" href="{% static 'core/estilosIndex/estiloI.css' %}">

  </head>
  
  <header>
    <div class="row" style="width: 101.1%;">
      <div class="col-sm-2" style="padding-left: 40px">
          <img src="{% static 'core/Imagenes/Logo/logo_gameon.jpg' %}" height=115>
      </div>

      <div class="col-sm-4" style="padding-top: 35px;align-items: center">
          <input class="form-control" id="myInput"  type="text" placeholder="Search.." style="width: 300px">
      </div>
      <div class="col-sm-4" style="padding-left: 310px">
        <form action="/action_page.php" class="was-validated form-inline" method="GET"></form>
          <div class="form-group" style="margin-left: 10px;margin-top: 18px">
            <input type="text" class="form-control" id="uname" placeholder="Nombre de usuario" name="uname" required style="height:32px;width: 200px">
            
          </div>
          <div class="form-group" style="margin-left: 10px;margin-top: 15px">
            <input type="password" class="form-control" id="psw" placeholder="Ingresar Contraseña" name="pswd" required style="height:32px;width: 200px">
          </div>
        </form>
      </div>
      <div class="col-sm-2" style="padding-left: 60px">
        <form action="/action_page.php" class="form-inline" method="GET">
          <div class="form-group">
            <a class="btn btn-info" href="singup.html" style="width: 150px;height:32px;margin-left: 10px;margin-top: 18px;color: white">Registrarse</a>   
          </div>
          <div class="form-group">
            <a class="btn btn-info" href="index.html" style="width: 150px;height:32px;margin-left: 10px;margin-top: 15px;color: white">Iniciar Sesión</a>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" style="margin-left: 10px;margin-top: 5px"> Recordar Usuario
            </label>
          </div>
        </form>
      </div>
    </div>
  </header>

  <body>
<!-- op<ening Barra De arriba2.0 -->
<div class="" id="barraprincipal" style="overflow:auto;">
  <nav class="navbar navbar-expand-sm col-sm-12  navbar-dark " style="width:100%;overflow:hidden;height:44px;padding:0%">
    <button class="tablink" onclick="openPage('Home', this, '#152242')" id="defaultOpen" >Home</button>
    <button class="tablink" onclick="openPage('Nintendo', this, 'rgb(241, 19, 19)')" >Nintendo</button>
    <button class="tablink" onclick="openPage('Xbox', this, 'rgb(37, 179, 37)')" >Xbox</button>
    <button class="tablink" onclick="openPage('PlayStation', this, 'rgb(50, 84, 177)')">PlayStation</button>
    <button class="tablink" onclick="openPage('PC', this, 'rgb(121, 120, 120)')">PC</button>
  </nav>
</div>
<div id="Home" class="tabcontent">
  <div class="row">
      <div class="col-sm-3"></div>
    <div class="Container text-center col-sm-6">
    <div id="demo" class="carousel slide display: flex" data-ride="carousel">

        
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'core/Imagenes/Nueva carpeta/ark.jpg'%}" alt="Los Angeles" width="100%" height="100%">
          </div>
          <div class="carousel-item">
            <img src="{% static 'core/Imagenes/Nueva carpeta/gear5.jpg'%}" alt="Chicago" width="100%" height="100%">
          </div>
          <div class="carousel-item">
            <img src="{% static 'core/Imagenes/Nueva carpeta/sekiro.jpg'%}" alt="New York" width="100%" height="100%">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev" > 
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="col-sm-3"></div>
    </div>
  </div>
  <div>
    <h1 style="text-size-adjust: 8erm; color: #fff; margin-top: 5%;text-align: left;margin-left: 10%">Ofertones</h1>
  </div>
  <section id="blog">
    <div class="contenedor">
      <article class="">
        <div >
          <div >
            <img src="{%static 'core/Imagenes/Pa vender/far_cry_5__nombre_provisional_-3996927.jpg'%}" >
            <div style="margin: 2%; text-align: center"> 
            <span>Far Cry 5 - PS4</span>
            </div>
          </div>
          <div>
              <div style="margin: 2%; text-align: center"> 
            <span >Antes: $̶3̶5̶.̶0̶0̶0̶</span>
              </div>
              <div style="margin: 2%; text-align: center"> 
                <span >Ahora: $34.990</span>
               </div>
            <button type="button" class="btn btn-primary"> Comprar </button>
          </div>
        </div>
      </article>
      <article class="">
        <div >
          <div >
            <img src="{% static 'core/Imagenes/Ps4/Control-antigua-carátula.png'%}" >
            <div style="margin: 2%; text-align: center"> 
                <span>Control - PS4</span>
                </div>
              </div>
              <div>
                  <div style="margin: 2%; text-align: center"> 
                      <span >Antes: ̶$̶5̶9̶.̶0̶0̶0̶</span>
                    </div>
                    <div style="margin: 2%; text-align: center"> 
                      <span >Ahora: $40.000</span>
                     </div>
                <button type="button" class="btn btn-primary"> Comprar </button>
              </div>
        </div>
      </article>
      <article class="">
        <div >
          <div >
            <img src="{% static 'core/Imagenes/Ps4/devilmaycry5.png'%}" >
            <div style="margin: 2%; text-align: center"> 
                <span>Devil may cry 5 - PS4</span>
                </div>
              </div>
              <div>
                  <div style="margin: 2%; text-align: center"> 
                      <span >Antes: ̶$̶4̶4̶.̶0̶0̶0̶</span>
                    </div>
                    <div style="margin: 2%; text-align: center"> 
                      <span >Ahora: $32.000</span>
                     </div>
                <button type="button" class="btn btn-primary"> Comprar </button>
              </div>
        </div>
      </article>
    </div>

    <div class="contenedor">
      <article class="" >
        <div >
          <div >
            <img src="{% static 'core/Imagenes/xbox/GEARS 5.png'%}" >
            <div style="margin: 2%; text-align: center"> 
                <span>GEARS 5 - Xbox One</span>
                </div>
              </div>
              <div>
                  <div style="margin: 2%; text-align: center"> 
                      <span >Antes: ̶$̶5̶9̶.̶0̶0̶0̶</span>
                    </div>
                    <div style="margin: 2%; text-align: center"> 
                      <span >Ahora: $40.000</span>
                     </div>
                <button type="button" class="btn btn-primary"> Comprar </button>
              </div>
        </div>
      </article>
      <article class="">
        <div >
          <div >
            <img src="{% static 'core/Imagenes/xbox/reddeadredemption2.jpg'%}" >
            <div style="margin: 2%; text-align: center"> 
                <span>red dead redemption 2 - Xbox One</span>
                </div>
              </div>
              <div>
                  <div style="margin: 2%; text-align: center"> 
                      <span >Antes: ̶$̶4̶4̶.̶0̶0̶0̶</span>
                    </div>
                    <div style="margin: 2%; text-align: center"> 
                      <span >Ahora: $32.000</span>
                     </div>
                <button type="button" class="btn btn-primary"> Comprar </button>
              </div>
        </div>
      </article>
      <article class="">
        <div >
          <div >
            <img src="{% static 'core/Imagenes/xbox/3max.jpg'%}" >
            <div style="margin: 2%; text-align: center"> 
                <span>SpiderMan - Xbox One</span>
                </div>
              </div>
              <div>
                  <div style="margin: 2%; text-align: center"> 
                      <span >Antes: ̶$̶4̶4̶.̶0̶0̶0̶</span>
                    </div>
                    <div style="margin: 2%; text-align: center"> 
                      <span >Ahora: $32.000</span>
                     </div>
                <button type="button" class="btn btn-primary"> Comprar </button>
              </div>
        </div>
      </article>
    </div>

    </section>
</div>

<div id="Nintendo" class="tabcontent">
    
  <div class="row">
      
    <div class="col-sm-2" style="background-color:gray"> 
        <h4>Titulo :</h4>
        <input class="form-control w-5" id="myInput"  type="text" placeholder="Search..">
        <h5>  </h5>
        <h5>Precio Minimo:</h5>
        <input class="form-control w-5"   type="number" placeholder="$0">
        <h5>  </h5>
        <h5>Precio Max:</h5>
        <input class="form-control w-5"   type="number" placeholder="$0">
        <h5>  </h5>
        <h5>Tipo :</h5>
        <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Accion
            </label>
          </div>
          
          <button type="submit" class="btn background-color:black">Filtrar</button>
    </div>
  </div>
  
  <section id="blognin">
    <div class="contenedor">
      <article class="">
        <div >
          <div >
            <img src="{% static 'core/Imagenes/nintendo/pokemon-sword-switch-cover.jpg'%}" >
            <span> Pokémon Bazofia - Switch</span>
          </div>
          <div>
            <span class="precio">$34.990</span>
            <button type="button" class="btn btn-primary"> Comprar </button>
          </div>
        </div>
      </article>
      <article class="">
        <div >
          <div >
            <img src="{% static 'core/Imagenes/nintendo/super-smash-bros-ultimate-switch-cover.jpg'%}" >
            <div>
            <span>Super Smash Bros Ultimate - Nintendo Switch</span>
            </div>
          </div>
          <div>
            <span >$34.990</span>
            <button type="button" class="btn btn-primary"> Comprar </button>
          </div>
        </div>
      </article>
      <article class="">
        <div >
          <div >
            <img src="{% static 'core/Imagenes/nintendo/the_elder_scrolls_v_skyrim__special_edition-3751560.jpg'%}" >
            <span>The Elder Scrolls V Skyrim - Special Edition - Nintendo Switch</span>
          </div>
          <div>
            <span >$34.990</span>
            <button type="button" class="btn btn-primary"> Comprar </button>
          </div>
        </div>
      </article>
    </div>

    <div class="contenedor">
      <article class="" >
        <div >
          <div >
            <img src="{% static 'core/Imagenes/nintendo/cuphead.jpg'%}" >
            <span>Cuphead - Nintendo Switch</span>
          </div>
          <div>
            <span >$34.990</span>
            <button type="button" class="btn btn-primary"> Comprar </button>
          </div>
        </div>
      </article>
      <article class="">
        <div >
          <div >
            <img src="{% static 'core/Imagenes/nintendo/61pjuOj3esL.jpg'%}" >
            <span>Mario Kart 8 - Nintendo Switch</span>
          </div>
          <div>
            <span >$34.990</span>
            <button type="button" class="btn btn-primary"> Comprar </button>
          </div>
        </div>
      </article>
      <article class="">
        <div >
          <div >
            <img src="{% static 'core/Imagenes/nintendo/71nW5+72+RL._SY445_.jpg'%}" >
            <span>Hollow Knight - Nintendo Switch</span>
          </div>
          <div>
            <span >$34.990</span>
            <button type="button" class="btn btn-primary"> Comprar </button>
          </div>
        </div>
      </article>
    </div>

    </section>


  </div>
  

<div id="Xbox" class="tabcontent">

    <div class="row">
      
        <div class="col-sm-2" style="background-color:gray"> 
            <h4>Titulo :</h4>
            <input class="form-control w-5" id="myInput"  type="text" placeholder="Search..">
            <h5>  </h5>
            <h5>Precio Minimo:</h5>
            <input class="form-control w-5"   type="number" placeholder="$0">
            <h5>  </h5>
            <h5>Precio Max:</h5>
            <input class="form-control w-5"   type="number" placeholder="$0">
            <h5>  </h5>
            <h5>Tipo: </h5>
            <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="remember"> Accion
                </label>
              </div>
              
              <button type="submit" class="btn background-color:black">Filtrar</button>
        </div>
      </div>

      <section id="blognin">
          <div class="contenedor">
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/xbox/final-fantasy-xv_3.jpg'%}" >
                  <span> Final Fantasy XV - Xbox</span>
                </div>
                <div>
                  <span class="precio">$34.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/xbox/3max.jpg'%}" >
                  <div>
                  <span>The Amazing Spider-Man 2 - Xbox</span>
                  </div>
                </div>
                <div>
                  <span >$34.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/xbox/GEARS 5.png'%}" >
                  <span>Gears of War 5 - Xbox</span>
                </div>
                <div>
                  <span >$44.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
          </div>
      
          <div class="contenedor">
            <article class="" >
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/xbox/reddeadredemption2.jpg'%}" >
                  <span>Red Dead Redemption 2 - Xbox</span>
                </div>
                <div>
                  <span >$54.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/xbox/state.jpg'%}" >
                  <span>State of Decay 2 - Xbox</span>
                </div>
                <div>
                  <span >$24.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/xbox/halo.jpg'%}" >
                  <span>Halo 5 - Xbox</span>
                </div>
                <div>
                  <span >$44.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
          </div>
      
          </section>

</div>

<div id="PlayStation" class="tabcontent">

    <div class="row">
      
        <div class="col-sm-2" style="background-color:gray"> 
            <h4>Titulo :</h4>
            <input class="form-control w-5" id="myInput"  type="text" placeholder="Search..">
            <h5>  </h5>
            <h5>Precio Minimo:</h5>
            <input class="form-control w-5"   type="number" placeholder="$0">
            <h5>  </h5>
            <h5>Precio Max:</h5>
            <input class="form-control w-5"   type="number" placeholder="$0">
            <h5>  </h5>
            <h5>Tipo: </h5>
            <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="remember"> Accion
                </label>
              </div>
              
              <button type="submit" class="btn background-color:black">Filtrar</button>
        </div>
      </div>

      <section id="blognin">
          <div class="contenedor">
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/Ps4/devilmaycry5.png'%}" >
                  <span> Devil May Cry 5 - PS4</span>
                </div>
                <div>
                  <span class="precio">$34.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/Ps4/far_cry_5__nombre_provisional_-3996927.jpg'%}" >
                  <div>
                  <span>Far Cry 5 - PS4</span>
                  </div>
                </div>
                <div>
                  <span >$34.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/Ps4/fifa_19-4645889.jpg'%}" >
                  <span>Fifa 19 - PS4</span>
                </div>
                <div>
                  <span >$44.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
          </div>
      
          <div class="contenedor">
            <article class="" >
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/Ps4/God-of-War-Boxart.jpg'%}" >
                  <span>God of War - PS4</span>
                </div>
                <div>
                  <span >$54.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/Ps4/fallout_76-4689892.jpg'%}" >
                  <span>Fallout 76 - PS4</span>
                </div>
                <div>
                  <span >$34.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/Ps4/Control-antigua-carátula.png'%}" >
                  <span>Control - PS4</span>
                </div>
                <div>
                  <span >$44.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
          </div>
      
          </section>

</div>

<div id="PC" class="tabcontent">

    <div class="row">
      
        <div class="col-sm-2" style="background-color:gray"> 
            <h4>Titulo :</h4>
            <input class="form-control w-5" id="myInput"  type="text" placeholder="Search..">
            <h5>  </h5>
            <h5>Precio Minimo:</h5>
            <input class="form-control w-5"   type="number" placeholder="$0">
            <h5>  </h5>
            <h5>Precio Max:</h5>
            <input class="form-control w-5"   type="number" placeholder="$0">
            <h5>  </h5>
            <h5>Tipo: </h5>
            <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="remember"> Accion
                </label>
              </div>
              
              <button type="submit" class="btn background-color:black">Filtrar</button>
        </div>
      </div>

      <section id="blognin">
          <div class="contenedor">
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/PC/07_front.jpg'%}" >
                  <span> Half Life 2 - PC</span>
                </div>
                <div>
                  <span class="precio">$14.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/PC/age.jpg'%}" >
                  <div>
                  <span>Age of Empire III - PC</span>
                  </div>
                </div>
                <div>
                  <span >$14.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/PC/csg.jpg'%}" >
                  <span>Counter Strike Global Offense - PC</span>
                </div>
                <div>
                  <span >$24.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
          </div>
      
          <div class="contenedor">
            <article class="" >
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/PC/original.jpg'%}" >
                  <span>Empire Earth III - PC</span>
                </div>
                <div>
                  <span >$14.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/PC/PCCDBF4S.jpg'%}" >
                  <span>Battlefield 4 - PC</span>
                </div>
                <div>
                  <span >$34.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
            <article class="">
              <div >
                <div >
                  <img src="{% static 'core/Imagenes/PC/spore_157653b.jpg'%}" >
                  <span>Spore - PC</span>
                </div>
                <div>
                  <span >$14.990</span>
                  <button type="button" class="btn btn-primary"> Comprar </button>
                </div>
              </div>
            </article>
          </div>
      
          </section>

</div>

<!-- endning Barra De arriba 2.0 -->
    <!-- opening Barra De arriba -->
       
    <!-- Ending Barra De arriba -->


    <!-- opening Barra De Abajo -->
              <div class="row" id="barraabajo" style="width: 101.1%;">
                  <nav class="navbar navbar-expand-sm  col-sm-12 bg-primary navbar-dark">
                

                    <div class="col-sm-4"></div>
                  <a class="navbar-brand"></a>
                  <div class="col-sm-4">
                <ul class="navbar-nav" >
                  <li class="nav-item">
                    <a class="fa fa-facebook-square" style="font-size:40px;color:rgb(255, 255, 255);margin: 10px" href="https://es-la.facebook.com/"></a>
                  </li>
                  <li class="nav-item">
                      <a class="fa fa-twitter-square" style="font-size:40px;color:rgb(255, 255, 255);margin: 10px" href="https://twitter.com/login?lang=es"></a>
                  </li>
                  <li class="nav-item">
                    <a class="fa fa-instagram" style="font-size:40px;color:rgb(255, 255, 255);margin: 10px" href="https://www.instagram.com/?hl=es-la"></a>
                  </li>
                  <li class="nav-item">
                      <a class="fa fa-tumblr-square" style="font-size:40px;color:rgb(255, 255, 255);margin: 10px" href="https://www.tumblr.com/login"></a>
                  </li>
                  <li class="nav-item">
                        <a class="fa fa-google" style="font-size:40px;color:rgb(255, 255, 255);margin: 10px" href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"></a>
                  </li>
                </div>
                <div class="col-sm-4"></div>
                </ul>
                    </nav>
              </div>
      <!-- Ending Barra De Abajo -->
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function openPage(pageName,elmnt,color) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
          }
          document.getElementById(pageName).style.display = "block";
          elmnt.style.backgroundColor = color;
        }
        
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        
    </script>


  </body>
</html>